<!DOCTYPE html>
<html class="no-js" lang="">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <head>
    <meta charset="utf-8" />
    <title>Jide Web</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon Start Here -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/todo/img/my-img/favicon.png"
    />
    <!-- Bootstrap Css Start Here -->
    <link rel="stylesheet" href="../static/todo/css/temp.css" />
    <!-- Animate Css Start Here -->

    <!-- Jquery Js Start Here -->
    <script src="../static/todo/js/jquery-3.4.1.min.js"></script>
  </head>

  <body class="sticky-header">
    <div id="svg_wrap"></div>

 <h1>Online Application</h1>
<section>
  <p>Personal information</p>
  <input type="text" placeholder="Firstname" />
  <input type="text" placeholder="Surname" />
  <input type="text" placeholder="Birthdate" />
  <input type="text" placeholder="Insurance number" />
  <input type="text" placeholder="Family status" />
</section>

<section>
  <p>Address</p>
  <input type="text" placeholder="Street, nbr" />
  <input type="text" placeholder="City" />
  <input type="text" placeholder="Postcode" />
  <input type="text" placeholder="Country" />
</section>

<section>
  <p>Contact information</p>
  <input type="text" placeholder="Email address" />
  <input type="text" placeholder="Phone" />
  <input type="text" placeholder="Mobile" />
</section>

<section>
  <p>Application</p>
  <input type="text" placeholder="Preferred entrance date" />
  <input type="text" placeholder="Number of people" />
</section>

<section>
  <p>General condtitions</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>

  <div class="button" id="prev">&larr; Previous</div>
<div class="button" id="next">Next &rarr;</div>
<div class="button" id="submit">Agree and send application</div>


    <!-- Bootstrap Js Start Here -->
    <script src="../static/todo/js/bootstrap.min.js"></script>
    <!-- Wow Js Start Here -->
    <script src="../static/todo/js/wow.min.js"></script>
    <!-- Owl Carousel Js Start Here -->
    <script src="../static/todo/vendor/owlcarousel/owl.carousel.min.js"></script>
    <!-- Sal Js Start Here -->
    <script src="../static/todo/js/sal.js"></script>
    <!-- Slick Js Start Here -->
    <script src="../static/todo/js/slick.js"></script>
    <script src="../static/todo/js/slick.min.js"></script>
    <!-- Nivo Js Start Here -->
    <script src="../static/todo/vendor/nivo-slider/jquery.nivo.slider.js"></script>
    <script src="../static/todo/js/home.js"></script>
    <!-- Meanmenu Js Start Here -->
    <script src="../static/todo/js/jquery.meanmenu.min.js"></script>
    <!-- Google Map js -->
    <script src="../static/todo/js/js.js"></script>
    <!-- Circle Js Start Here -->
    <script src="../static/todo/js/circle-progress.min.js"></script>
    <!-- Main Js Start Here -->
    <script src="../static/todo/js/main.js"></script>
    <script src="../static/todo/js/temp.js"></script>
  </body>
</html>
